<!DOCTYPE html>
<html>
    <head>
        <title>Hello World - Lab 2.2</title>
    </head>

    <body>
      <h1>Today</h1>
      <% d = DateTime.new %>
      <% d.strftime("Printed on %m/%d/%Y") %>
      <p><%= "The date is " + "#{d}" %></p>
    </body>
</html>
