<!DOCTYPE html>
<html>
    <head>
        <title>Hello World - Lab 2.2</title>
    </head>

    <body>
      <h1>Today</h1>
      <% date = "time.day" %>
      <p><%= "The date is " + "#{date}" %></p>
    </body>
</html>
