<!DOCTYPE html>
<html>
    <head>
        <title>Hello World - Lab 2.2</title>
    </head>

    <body>
      <h1>Today</h1>
      <% day = Date::DAYNAMES[Date.today.wday] %>
      <% month = Time.now.strftime("%Y%m") %>
      <p><%= "The date is " + "#{day}" + ", " + "#{month}"%></p>
    </body>
</html>
