<!DOCTYPE html>
<html>
    <head>
        <title>Hello World - Lab 2.1</title>
    </head>

    <body>

      <ul>
        <% name = [Joe] %>
        <% name.each do |post| %>
          <h1><%= post %></h1>
        <% end %>
      </ul>
      
    </body>
</html>
